<br>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto"> <!-- mr-auto sola doğru yaslar elemenlteri -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'article:articles' %}">Articles</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"> <!-- ml-auto sağa doğru yaslar elemenlteri -->
        <!-- sadece giriş yapıldıysa çıkış yapı , çıkış yapıldıysa sadece o zaman giriş yapı göstereceğiz. -->
        <!-- Sadece giriş yapıldığında makaleler için kontrol paneli gözükecek; -->
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'article:dashboard' %}">Dashboard</a>
        </li> 
        <!-- sadece giriş yapıldıysa log out gösterilecek. -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:logout' %}">Log out</a>
        </li>
        {% else %}

        <!-- session yoksa giriş yapılmadıysa Login gösterilecek. -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:login'  %}">Login</a>
        </li>
        {% endif %}

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:register'%}">Register</a>
        </li>
      </ul>
    </div>
  </nav>